nav {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size:12pt;
    background: #40404020;
    color: #c0c02080;
    text-align: left;
    width: 160px;
}

nav a {
    color: #c0c02080;
}